<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jade - JackBB</string>
	<key>uuid</key>
	<string>A4099B1B-5D83-402A-9458-B670F46B8AE5</string>
</dict>
</plist>
